[client]
socket = "{{ datadir }}/{{ mysql_socket }}"

[mysqld]
datadir = "{{ datadir }}"
socket = "{{ datadir }}/{{ mysql_socket }}"
symbolic-links = 0

[mysqld_safe]
log-error = "{{ log_error_path }}"
pid-file = "{{ pid_path }}"

!includedir "{{ confdfile_path }}"
